/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, figure, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}


body {
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
    font-size:16px;
}

header {
    position:relative;
    width:100%;
    background-color:#000;
    z-index:1000;
    padding:30px;
}

header h1 {
    color:#fff;
    font-family:Bangers, sans-serif;
    letter-spacing:2px;
    font-size:50px;
    line-height:0px;
    display: inline-block;
}

header h2 {
    padding: 0 20px 0 20px;
    font-family:Bangers, sans-serif;
    letter-spacing:2px;
    font-size:30px;
    line-height:0px;
    font-weight: 600;
    display: inline-block;
}

#controls {
    padding: 10px 10px 0 10px;
    /* height: 50px; */
}



#map-canvas {
    /* position:absolute; */
    width: calc( 100% - 150px);
    height: 1000px;
    /* left:200px; */
    float: left;
    /* display: inline-block; */
}
#container {
    padding-bottom: 10px;
    margin: auto;
    height: 100%;
}
li {
    list-style: none;
    display: inline-block;
    padding: 0 20px 0 20px;
}

.popup-div{

    margin: 0 auto;
    text-align:center;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgb(200,200,200);
}
#new-user{
    display:none;
    z-index:200;
    width: 300px;
    left: calc(50% - 150px);
}

#upload-div{
    display:none;
    position: absolute;
    z-index:100;
    width: 400px;
    left: calc(50% - 200px);
    top: 200px;
}

.popup-div input, select{
    width:90%;
    margin:5px;
    padding:  5px;
    /*border-radius: 5px;*/
    display:inline-block;
}
.popup-div h1{
    color:white;
    font-size: 1.5em;
    margin:10px;
}

.btn{
    padding:10px;
    width:100px;
}

.user-picture-actions{
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,.3);
    z-index:200;
    position: relative;
    /* top: 0; */
    /* left: 0; */
    display: block;
    float: left;
}
.user-button-img
{
    z-index: 200;
    width: 100%;
    position: relative;
    opacity: 0;
    height: 100%;
}
.user-button-img img{
    width:60px;
    height:60px;
    left: 30px;
    top:30px;
    position: relative;
}
.user-button-img:hover{
    opacity:1;
    background-color: rgba(255,255,255,.5);
}

.selected-user{
    opacity:1;
}

.unselected-user{
    opacity:.5;
}
#user-pics{
    /* position:absolute; */
    width: 140px;
    max-height: inherit;
    float: left;
    display: block;
    padding: 0 10px 10px 10px;
    overflow-y: auto;
}
.user-pic
{
    display: block;
    height: 130px;
}
.user-picture
{
    width:120px;
    height:120px;
    z-index: 1;
    display: block;
    position: absolute;
}
