/* reset */

html, body, address, blockquote, del, div, h1, h2, h3, h4, h5, h6, hr, ins, noscript, p, pre, dl, dt, dd, li, ol, ul, table, caption, colgroup, col, thead, tfoot, tbody, tr, td, th, form, button, fieldset, figure, legend, label, select, optgroup, option, textarea, a, bdo, br, img, map, area, object, param, q, script, span, sub, sup, abbr, acronym, cite, code, del, dfn, em, ins, kbd, samp, strong, var, b, big, i, small, tt{border:0;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;outline:0;padding:0;vertical-align:baseline;}
ol, ul{list-style:none;}
th{text-align:left;}
table{border-collapse:collapse;}
 /*@font-face { font-family:Symbola; src:url(http://users.teilar.gr/~g1951d/Symbola.ttf); }*/
  @font-face { font-family:Symbola; src:url(http://zhm.github.io/symbola/fonts/Symbola.ttf); }

 
 @font-face {
     font-family: 'digi';
     src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}
body {
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
    font-size:16px;
}

header {
    position: absolute;
    text-align: right;
    left: calc(100% - 200px);
    top: calc(100% - 50px);
    width: 200px;
    /* background-color:#000; */
    z-index: 200;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    color: rgba(255,255,255,.7);
}

header h1 {
    color:#fff;
    font-family:Bangers, sans-serif;
    letter-spacing:2px;
    font-size: 30px;
    display: inline-block;
    margin-right:  20px;
    float: left;
}

header h2 {
    padding: 0 20px 0 20px;
    font-family:Bangers, sans-serif;
    letter-spacing:2px;
    font-size:30px;
    line-height:0px;
    font-weight: 600;
    display: inline-block;
}

h3 {
    padding: 20px;
    letter-spacing:2px;
    font-size:30px;
    line-height:0px;
    font-weight: 600;
}

#controls {
    height: 40px;
    padding: 0;
    margin: 10px;
    position:absolute;
    vertical-align: middle;
    /* top:0; */
    left: calc(100% - 350px);
    width: 340px;
    /* display: inline-block; */
    z-index: 500;
    background: rgba(255,255,255,.3);
}
#range-div{
    position: absolute;
    display: none;
    height: 40px;
    z-index:500;
    width: calc(100% - 20px);
    margin: 10px;
    padding: 5px;
    top: calc(100% - 60px);
     background: rgba(255,255,255,.3);
}
#control-buttons{
    margin: 0 auto;

    display: inline-block;
}
#user-pic{
    position:absolute;
    width:70px;
    height:90%;
    left:5px;
}
.user-location, .user-trans{
    font-size: 1em;
    background-color: rgba(255,255,255,.5);
    width: 95%;
    /* overflow-wrap: break-word; */
    margin: 2.5%;
    /* word-wrap: break-word; */
    display: inline-block;
    /* height: 20px; */
     white-space: pre-wrap;
    text-overflow: clip;
    overflow: hidden;
}
.user-trans{
    font-family: Symbola;

    margin: 0;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 3.5em;
    color: rgba(255,62,0,1);
    position: absolute;
    top: 5px;
    left: 0;
    opacity: .7;
    background-color: rgba(255,255,255,0);
    border-radius: 50px;
    z-index: 350;
}

#map-area{
    width: 100%;

    height: 100%;
    display: inline-block;
    position: absolute;
}
#map-canvas {
    /*position:absolute;*/
    width:100%;
    height: 100%;
    /*left:100px;*/
    display:block;
}

.time-control {

    height: 100%;


    margin: 0 auto;

    /* padding: 5px; */

    width: calc(100% - 235px);


    display: inline-block;


    vertical-align: middle;

    line-height: 2em;

}
#slider
{

    display: inline-block;


    height: 40%;


    width: 100%;

    -webkit-appearance: none;

    -webkit-border-radius: 10px;

    -webkit-box-shadow: inset 0 0 5px #333;
}
#slider-value{
    /* z-index:200; */
    height: 90%;
    line-height: 2em;
    width: 195px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-family: digi;
    /* margin-top: -40px; */
    /* position:relative; */
    /* display:block; */
    /* top: 20%; */
    /* top: 20%; */
    font-weight: bold;
    background-color: rgba(220,220,220,.8);
    text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(0,120,200);
    opacity: 0.8;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    -webkit-box-shadow: inset 0 0 5px #333;
}

#container {
    padding-bottom: 10px;
    margin: auto;
    height: 100%;
}
li {
    list-style: none;
    display: inline-block;
    padding: 0 20px 0 20px;
}

.popup-div{

    margin: 0 auto;
    text-align:center;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgb(200,200,200);


    z-index: 1000;

}
#new-user{
    display:none;
    z-index:200;
    width: 300px;
    left: calc(50% - 150px);
}

#upload-div{
    display:none;
    position: absolute;
    /*z-index:100;*/
    width: 400px;
    left: calc(50% - 200px);
    top: 200px;
}
#config-div
{
    display:none;
    position:absolute;
    width:20%;
    top:50px ;
    left:80%;
}
.popup-div button, .popup-div select, .popup-div input, .popup-div input[type='file']{
    width:90%;
    margin:5px;
    padding:  5px;
    border-radius: 10px;
    display:inline-block;
}
.date-group{
    width: 90%;
    /*margin:5px;*/
    /*padding:  5px;*/
    border-radius: inherit;
    display:inline-block;
}
.date-group button, .date-group select, .date-group input{
    width: 100%;
    margin:5px;
    padding:  5px;
    border-radius: 5px;
    display:inline-block;
}

.popup-div h1{
    color:white;
    font-size: 1.25em;
    margin:10px;
}

.popup-div h2{
    color:rgb(220,220,220);
    font-size: 1em;
    margin:10px;
}
.form-group {
    margin-bottom: 0px;
    margin: 5px;
}

/*
.btn{
    padding:10px;
    width:100px;
    height: 40px;
}
*/
.user-picture-actions{
    height:100%;
    width:100%;
    background-color: rgba(255,255,255,.3);
    z-index:200;
    position: relative;
    /* top: 0; */
    /* left: 0; */
    display: block;
    float: left;
}

#users-pics{
    width: calc(100% - 400px);
    position: absolute;
    left: 100px;
    top: 5px;
    /* height: 120px; */
    display: inline;
    padding: 0 10px 10px 10px;
    overflow-x: auto;
    overflow-y: hidden;
    /* overflow-wrap: initial; */
    z-index: 300;
    float: left;
    white-space: nowrap;
    margin: 0 auto;
    vertical-align: top;
}
.user-pic
{
    display: inline-block;
    position: relative;
    top: 0;
    /* height: 101px; */
    width: 80px;
    /* float: right; */
    z-index: inherit;
    vertical-align: text-top;
}
.user-picture
{
    width: 80px;
    height: 80px;
    /* z-index: inherit; */
    display: block;
    /*border-radius: inherit; */
    border-radius: 50%;
    border: 4px solid;
    position: relative;
    top: 5px;
    left:0;
}
.user-button-img
{
    z-index: 400;
    width: 30px;
    height: 30px;
    position: relative;
    opacity: .5;
    float: right;
    /* float: left; */
    border-radius: 40px;
    background-color: rgba(255,255,255,.7);
    font-size: 1.3em;
    line-height: 35px;
    /* border: 3px solid; */
    text-align: center;
    /* font-weight: bold; */
    color: white;
    vertical-align: middle;
}
.user-button-img img{
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    position: relative;
    /* z-index: 600; */
}
.user-button-img:hover, .user-stat-button:hover{
    opacity:.5;
    /*background-color: rgba(255,255,255,.5);*/
}
.user-stat-button{
    width: 30px;

    height: 30px;
    position: absolute;
    z-index: 400;
    opacity: 1;
    top: 0;
    border-radius: 50%;
    left: 0;
    font-size: 1.1em;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color: rgba(255,255,255,.5);
}

.selected-user{
    opacity:1;
}
.unselected-user{
    opacity:.5;
}

/** Carousel **/

#image-canvas{
    z-index: 100;
    left: 50%;
    top: 75%;
    height: 150px;
    overflow-y:  auto;
    width: 624px;
    position: absolute;
    padding: 10px;
    visibility: hidden;
}

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 604px;
    height: 130px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    height: 130px;
    float: left;
    border-left: 1px solid #fff;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    z-index: 100;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
    visibility: hidden;
}

.jcarousel-control-prev {
    left: 15px;
}

.jcarousel-control-next {
    right: 15px;
}

.img-picture{
    width: 400px;
    height: 200px;
}


#dashboard{
    width: 50%;
    z-index: 100;
    position: absolute;
    float: left;
    background-color: white;
    overflow-y: auto;
    height: 30%;
    top: 70%;
    /*display: none;*/
}

#dashboard-trans-modes{
    height: 300px;
    /* width:33%; */
}
svg .donut-trans-icon{
    font-family: Symbola;
    font-face:Symbola;
}
.donut-trans-icon-text{
    font-family: Symbola;
    font-size: 6em;
    text-align: center;
}
.donut-title{
    font-size: 1.5em;
}
.overall-donut
{
    width: 300px;
    height: calc(100% - 20px);
    display: inline-block;
    /* padding: 10px; */
    margin: 10px;
}


svg .icon{
    stroke: black;
    fill: none;
    stroke-width: 2;
    stroke-miterlimit : 10;
    stroke-linecap : round; stroke-linejoin : round?
}

svg .summary-icon{
    display:none;
    /*opacity: .2;*/
}

.dropdown-toggle{
    width:150px;
}

.oldPath
{
    strokeOpacity: .4;
    strokeWeight: 2;
}

.dashboard-title{
    font-size: 1em;

}

.dashboard-value{
    font-size:1.5em;
    color: rgb(220,220,220);

}

/* user selection overlay */
#user-selection {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}
#user-selection header {
    width: 100%;
    height: 6%;
}
#overlay {
    width: 90%;
    height: 94%;
    color: white;
    font-size: 1em;
    background-color: rgba(0,0,0,1);
    margin:auto;
    position: relative;
}
#selected {
    background-color: rgba(200,200,200,.5);
    height: auto;
}
#selected * {
    display: inline-block;
}
#selected button {
    float: right;
    margin-right: 3em;
    margin-top: 2em;
}
#user-columns {
    height: 90%;
    margin: 20px;
    width:200%;
    position: relative;
    overflow-y:hidden;
    overflow-x:scroll;
}
.user-column {
    display: inline-block;
    width:10%;
    height: 70%;
    text-align: center;
    background-color: rgba(200,200,200,.1);
    margin:5px;
    padding: 20px;
}
.user-column img {
    margin: auto;
}

.user-top-cities li {
    display: block;
}


.thumbnail
{
    width: 90px;height:90px;
}
.infowindow
{
    width: 90px;height:90px;
}
.img-picture{
    width: 400px;
    height: 200px;
}
.stats-popup{
    width: 90%;

    height: 90%;
    position: absolute;
    background: rgba(255,255,255,.6);
    left: 5%;
    top: 5%;
    overflow-y: auto;
    border: 1px solid rgba(100,100,100,1);
    z-index: 1000;
    display: none;
}
#overall-stats{

}
#user-stats{

}

.hide-button{
<<<<<<< HEAD

}

.bar{
width:20px;
background-color: red;
margin-right: 1px;
}
=======
    
}

span.name {
    padding: 20px;
    font-family:Bangers, sans-serif;
    letter-spacing:2px;
    font-size:30px;
    line-height:0px;
    font-weight: 600;
    display: block;
}
}
>>>>>>> b22db6d56ded1609510836a7d000ceef66a41828
